.case-line .slot {
    display: flex;
    height: 40vw;
    width: 40vw;
}

.case-line {
    position: relative;
}

.case-window {
    height: 40vw;
    width: 40vw;
    overflow: hidden;
}

.buttons {
    display: flex;
}

.buttons button {
    flex: 1;
    height: 2.5em;
}

button .price {
    display: flex;
    align-items: center;
}

button > span {
    font-size: 1.2em;
}

.price > img {
    margin-left: 0.2em;
    height: 1em;
    width: 1em;
}

.case-form {
    display: flex;
    flex-direction: column;
}

main {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.case-line > .item{
    padding:6vw;
    margin:6vw;
    border-width: 0.4vw !important;
}

.case-line .item > span {
    font-size: 4vw;
}

.slots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slots > .slot {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}
.slots > .slot > .item{
    padding: 1em;
}
.case-content{
    display: flex;
    justify-content: center;
}

.slot-content{
    display: flex;
    margin-left: 1em;
    flex-direction: column;
}
.case-line .item {
    padding: 1vw;
    margin: 3vw;
}