

.cases > ul {
    display: flex;
    padding: 0;
    flex-direction: column;

}
.cases li.active,.cases li:hover:not(.disabled) {
    background-color: #f4f4f4;
}
.border-case{
    padding: 0.5em;
}

.cases span{
    color: #333;
}
.cases li{
    border:  0.1em solid #b8b2b2;
    border-radius: 0.5em;
    background: white;
}
.case-name {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
}
main > ul > li {
    display: flex;
    flex-direction: column;
}
.price {
    align-items: center;
}
.cases span{
    display: flex;
}

.cases {
    display: flex;
    padding-left: 0px;
}
.cases > li {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}