.item{
    display:flex;
    flex: 1;
    border: 0.1em solid #b8b2b2;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    padding:1em;
    margin:1em;
    flex-direction: column;
    background-color:white;
}
.item.money{
    border-color: #edd458;
}
.item.trash{
    border-color: #41403b;
}