main {
    flex-direction: column;
}

main > ul {
    display: flex;
    padding: 0;
    flex-direction: column;
}

main > ul > li {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    align-items: center;
}
.cases {
    display: flex;
    flex-direction: column;
}
.cases > li {
    display: flex;
    flex-direction: column;
}