header {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #eee;

}

a {
    color: #444;
}

#about {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

#about > a {
    margin-left: 1rem;
}

#about > ul {
    display: flex;
    align-items: center;
    padding: 0;
}

#about > ul > li {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

#title {
    display: flex;
    flex: 1;
}